header
  .header-position
     h1.logo Yours Natu

     nav.site-nav
        ul
          li: a(href="#about")  About
          li: a(href="#about")  Youtube 
          li: a(href="#about")  Mentoring 
          li: a(href="#about") Articles
          li: a(href="#about")  Vine
          li: a(href="#about")  Design
          li: a(href="#about")  Notes
          li: a(href="#about")  Contact
                        
                
                
     a(href="mailto:yournatu2gmail.com").email-link +email  me
              
